Makefile.in
autom4te.cache/
configure
aclocal.m4
m4/
/test-*
Makefile
config.h
config.h.in
config.log
config.sub
config.status
src/Makefile
src/unixcat
src/naemon
stamp-h1
depcomp
install-sh
missing
*.o
*.lo
ar-lib
compile
config.h.in~
config.guess
libtool
ltmain.sh
src/.libs/
tests/.deps/
tests/TestColumnFilters
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/naemon-livestatus/
livestatus.cfg
