name: citest

on:
  push:
  pull_request:
  release:

jobs:
  citest:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      #- name: Setup tmate session, see https://github.com/marketplace/actions/debugging-with-tmate
      #  uses: mxschmitt/action-tmate@v3
      - name: prepare machine
        run: |
          sudo apt-get update
          sudo apt-get install apt-transport-https
          sudo sh -c "echo 'deb [signed-by=/etc/apt/trusted.gpg.d/naemon.asc] http://download.opensuse.org/repositories/home:/naemon:/daily/xUbuntu_$(lsb_release -rs)/ ./' >> /etc/apt/sources.list"
          sudo curl -s -o /etc/apt/trusted.gpg.d/naemon.asc "https://build.opensuse.org/projects/home:naemon/signing_keys/download?kind=gpg"
          sudo apt-get update
          sudo apt-get install autoconf
          sudo apt-get install build-essential
          sudo apt-get install libcppunit-dev
          sudo apt-get install libglib2.0-dev
          sudo apt-get install libtool
          sudo apt-get install naemon-dev
          sudo apt-get install naemon-core
          sudo apt-get install ruby ruby-dev
          sudo apt-get install zlib1g-dev liblzma-dev patch # required for nokogiri
          sudo gem install cucumber:1.3.18 websocket-driver:0.7.0 nokogiri:1.11.0 rack:1.6.5 rack-test:0.7.0 capybara:2.1.0 public_suffix:2.0.5 xpath:2.0 rspec:2.14.1 parallel_tests syntax:1.0.0 cliver:0.3.2

      - name: run build
        run: |
          autoreconf -i
          ./configure
          make

      - name: run tests
        run: |
          make check || exit 1
          export PATH="$PATH:$(pwd)/tests/tools"
          export CUKE_UNIXCAT_PATH=$(pwd)/src/unixcat
          export CUKE_LIVESTATUS_PATH=$(pwd)/src/.libs/livestatus.so
          cucumber ./tests -t ~@skip -t ~@unreliable --strict || exit 1
          LIVESTATUS_TCP=1 cucumber ./tests -t ~@skip -t ~@unreliable --strict || exit 1
